.breadcrumb{
    border-radius: 0px;
}
.panel{
    border-radius: 0px;
}
.btn{
    border-radius: 0px;
}
.input-sm{
    border-radius: 0px;
}
.form-control{
    border-radius: 0px;
}
#roleauthform-routes label,#assignmentform-permissions label,#authpermissionform-routes label{
    width:20%;
}